


.Container {
    width: 600px;
    font-weight: 500;
    font-size: 3rem;
}


.text-box {
    --height: 106px; /*variable declaration*/
    height: var(--height);
    border-radius: calc(var(--height)/2);
    border: 1px solid var(--light-purple);
    width: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4.2px;
}


/********** css for question **********/


.question {
    border: none;
    text-align: center;
    margin: 0 auto 2rem auto;
}

.question--red {
    color: var(--standard-red);
}



.question--blue {
    color: var(--standard-blue);
}


/************** css for options **************/

.options {
    display: flex;
    justify-content: space-evenly;
}



.option:hover {
    cursor: pointer;
}


.option--red {
    color: var(--standard-red);
}


.option--blue {
    color: var(--standard-blue);
}

.option--hoverable {

}