


.Container {
    width: 600px;
    font-weight: 500;
    font-size: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text-box {
    --height: 106px; /*variable declaration*/
    height: var(--height);
    border-radius: calc(var(--height)/2);
    border: 1px solid var(--light-purple);
    width: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4.2px;
}


/********** css for question **********/


.question {
    border: none;
    text-align: center;
    margin: 0 auto 2rem auto;
}

.question--red {
    color: var(--standard-red);
}



.question--blue {
    color: var(--standard-blue);
}


/************** css for options **************/

.options {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}



.option:hover {
    cursor: pointer;
}


.option--red {
    color: var(--standard-red);
}


.option--blue {
    color: var(--standard-blue);
}

.option--hoverable {

}



.wrong-choice-selected {
    background-color: var(--light-purple) !important;
    color: var(--light-purple) !important;
    text-align: center;
    position: relative;
}


.cross-sign {
    position: absolute;
    left: 85px;
}




/****** media queries *************/

@media (max-width: 767px) {

    .Container {
        width: 100%;
    }

    .options {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-basis: 35%;
    }

    

    .text-box {
        --height: 90px;
    }
}


