.Container {

}

.btn {
    outline: none;
    height: 3.5rem;
    width: 15rem;
}

.btn:hover {
    cursor: pointer;
}

.cta {
    background-color: transparent;
    border: 1px solid var(--lime-green);
    border-radius: 1.75rem;
    color: var(--lime-green);
    font-size: 20px;
}

.cta:hover {
    background-color: var(--lime-green);
    color: var(--primary-background);
}