.Container {
    height: 100%;
    width: 100%;
    background: rgba(188, 150, 230, 0.05) 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
}




.sound-btn img:hover {
    cursor: pointer;
}