.Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    letter-spacing: 2.8px;
}

.timer {
    flex-basis: 70%;
}

.score {
    flex-basis: 15%;
}

.volume {
    flex-basis: 15%;
}