.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}




.timer-progressbar-container {
    margin: 3rem auto 0 auto;
    width: 16px;
    background-color: rgb(56, 0, 56);
    position: relative;
    flex-basis: 80%;
    border-radius: 8px;
}

.timer-progressbar {
    width: 16px;
    background-color: rgba(188, 150, 230, 1);
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    border-radius: 8px;
    height: 50%;
}



.timer-digital {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.timer-digital__title {
    margin-bottom: 0.5rem;
    color: rgba(188, 150, 230, 1);
}



.timer-digital__value {
    font-size: 2rem;
}

/* for background */
.timer-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: transparent linear-gradient(0deg, rgba(188, 150, 230, 0.6) 0%, rgba(188, 150, 230, 0.2) 100%) 0% 0% no-repeat padding-box;
    opacity: 0.15;
}