.start-btn {
    background: url('../../../../assets/images/start-game-btn/default.svg');
    height: 124px;
    width: 124px;
}


.start-btn:hover {
    background: url('../../../../assets/images/start-game-btn/hover.svg');
}

.start-btn img {
    color: blue;
}




/********** count-down display*************/

.countdown-display {
    border: 1px solid black;
    border-radius: 50%;
    width: 124px;
    height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
}